.free-download-banner{
	position: fixed;
	top: 150px;
	right: -20px;
	color: white;
	background-color: $primary-color;
	transform: rotate(-10deg);
	padding-right: 20px;
	z-index: 100;
	a{
		color: $white;
		font-weight: bold;
		padding: 15px 25px;
		display: block;
		font-size: rem-calc(38);
		line-height: rem-calc(34);
	}

  @include breakpoint(small only) {
      top: auto;
      bottom: 0;
      transform: none;
      width: 100%;
      left: 0;
      right: auto;
      text-align: center;
      a{
      	font-size: rem-calc(15);
		padding: 5px;

      	br{
      		display: none;
      	}
      }
  }

}